[fl]
  display: flex
  /* Directions */
  &[fl-d-rr]
    flex-direction: row-reverse
  &[fl-d-c]
    flex-direction: column
  &[fl-d-cr]
    flex-direction: column-reverse

  /* Wrap */
  &[fl-w]
    flex-wrap: wrap
  &[fl-w-r]
    flex-wrap: wrap-reverse

  /* Justify content */
  &[fl-j-e]
    justify-content: flex-end
  &[fl-j-c]
    justify-content: center
  &[fl-j-sb]
    justify-content: space-between
  &[fl-j-sa]
    justify-content: space-around
  &[fl-j-se]
    justify-content: space-evenly

  /* Align items */
  &[fl-ai-e]
    align-items: flex-end
  &[fl-ai-c]
    align-items: center
  &[fl-ai-b]
    align-items: baseline
  &[fl-ai-s]
    align-items: stretch

  /* Align content */
  &[fl-ac-e]
    align-content: flex-end
  &[fl-ac-c]
    align-content: center
  &[fl-ac-sb]
    align-content: space-between
  &[fl-ac-sa]
    align-content: space-around
  &[fl-ac-s]
    align-content: stretch

  /* Align self */
  [fl-as-fs]
    align-self: start
  [fl-as-e]
    align-self: flex-end
  [fl-as-c]
    align-self: center
  [fl-as-b]
    align-self: baseline
  [fl-as-s]
    align-self: stretch

  /* Order */
  [fl-o-1]
    order: 1
  [fl-o-2]
    order: 2
  [fl-o-3]
    order: 3
  [fl-o-4]
    order: 4
  [fl-o-5]
    order: 5
  [fl-o-6]
    order: 6
  [fl-o-7]
    order: 7
  [fl-o-8]
    order: 8
  [fl-o-9]
    order: 9
  [fl-o-10]
    order: 10
  [fl-o-11]
    order: 11
  [fl-o-12]
    order: 12

  /* Grow */
  [fl-g-0]
    flex-grow: 0
  [fl-g-1]
    flex-grow: 1
  [fl-g-2]
    flex-grow: 2

  /* Shrink */
  [fl-s-0]
    flex-shrink: 1
  [fl-s-1]
    flex-shrink: 1
  [fl-s-2]
    flex-shrink: 2

  /* 12 columns adaptive */
  [fl-col-1]
    flex-basis: 8.3333%
  [fl-col-2]
    flex-basis: 16.6666%
  [fl-col-3]
    flex-basis: 25%
  [fl-col-4]
    flex-basis: 33.3333%
  [fl-col-5]
    flex-basis: 41.6666%
  [fl-col-6]
    flex-basis: 50%
  [fl-col-7]
    flex-basis: 58.3333%
  [fl-col-8]
    flex-basis: 66.6666%
  [fl-col-9]
    flex-basis: 75%
  [fl-col-10]
    flex-basis: 83.3333%
  [fl-col-11]
    flex-basis: 91.6666%
  [fl-col-12]
    flex-basis: 100%

  @media (min-width: 640px)
    [fl-col-sm-1]
      flex-basis: 8.3333%
    [fl-col-sm-2]
      flex-basis: 16.6666%
    [fl-col-sm-3]
      flex-basis: 25%
    [fl-col-sm-4]
      flex-basis: 33.3333%
    [fl-col-sm-5]
      flex-basis: 41.6666%
    [fl-col-sm-6]
      flex-basis: 50%
    [fl-col-sm-7]
      flex-basis: 58.3333%
    [fl-col-sm-8]
      flex-basis: 66.6666%
    [fl-col-sm-9]
      flex-basis: 75%
    [fl-col-sm-10]
      flex-basis: 83.3333%
    [fl-col-sm-11]
      flex-basis: 91.6666%
    [fl-col-sm-12]
      flex-basis: 100%

  @media (min-width: 800px)
    [fl-col-md-1]
      flex-basis: 8.3333%
    [fl-col-md-2]
      flex-basis: 16.6666%
    [fl-col-md-3]
      flex-basis: 25%
    [fl-col-md-4]
      flex-basis: 33.3333%
    [fl-col-md-5]
      flex-basis: 41.6666%
    [fl-col-md-6]
      flex-basis: 50%
    [fl-col-md-7]
      flex-basis: 58.3333%
    [fl-col-md-8]
      flex-basis: 66.6666%
    [fl-col-md-9]
      flex-basis: 75%
    [fl-col-md-10]
      flex-basis: 83.3333%
    [fl-col-md-11]
      flex-basis: 91.6666%
    [fl-col-md-12]
      flex-basis: 100%

  @media (min-width: 1024px)
    [fl-col-lg-1]
      flex-basis: 8.3333%
    [fl-col-lg-2]
      flex-basis: 16.6666%
    [fl-col-lg-3]
      flex-basis: 25%
    [fl-col-lg-4]
      flex-basis: 33.3333%
    [fl-col-lg-5]
      flex-basis: 41.6666%
    [fl-col-lg-6]
      flex-basis: 50%
    [fl-col-lg-7]
      flex-basis: 58.3333%
    [fl-col-lg-8]
      flex-basis: 66.6666%
    [fl-col-lg-9]
      flex-basis: 75%
    [fl-col-lg-10]
      flex-basis: 83.3333%
    [fl-col-lg-11]
      flex-basis: 91.6666%
    [fl-col-lg-12]
      flex-basis: 100%

  @media (min-width: 1366px)
    [fl-col-xl-1]
      flex-basis: 8.3333%
    [fl-col-xl-2]
      flex-basis: 16.6666%
    [fl-col-xl-3]
      flex-basis: 25%
    [fl-col-xl-4]
      flex-basis: 33.3333%
    [fl-col-xl-5]
      flex-basis: 41.6666%
    [fl-col-xl-6]
      flex-basis: 50%
    [fl-col-xl-7]
      flex-basis: 58.3333%
    [fl-col-xl-8]
      flex-basis: 66.6666%
    [fl-col-xl-9]
      flex-basis: 75%
    [fl-col-xl-10]
      flex-basis: 83.3333%
    [fl-col-xl-11]
      flex-basis: 91.6666%
    [fl-col-xl-12]
      flex-basis: 100%

ul, ol, li
  [unstyle]
    list-style: none

[ta-l]
  text-align: left
[ta-c]
  text-align: center
[ta-r]
  text-align: right
[ta-j]
  text-align: justify